<app-auth-page-header></app-auth-page-header>

<mdb-card class="auth-card my-3 my-md-5">
  <mdb-card-header class="primary-color white-text text-center py-3">
    <h5>パスワードリセット</h5>
  </mdb-card-header>

  <mdb-card-body class="px-lg-5 pt-3 pt-lg-4 pb-5">
    <!-- Form -->
    <form class="text-center" [formGroup]="form" (ngSubmit)="sendMail()">

      <!-- Email -->
      <div class="md-form">
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          mdbInput
          mdbValidate
        >
        <label for="email">メールアドレス</label>
        <mdb-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
          <span *ngIf="emailInput.errors.required">メールアドレスは入力必須です</span>
          <span *ngIf="emailInput.errors.email">不正なメールアドレスです</span>
        </mdb-error>
        <mdb-success *ngIf="emailInput.valid && (emailInput.dirty || emailInput.touched)"></mdb-success>
      </div>

      <!-- Sign in button -->
      <button
        mdbBtn
        color="primary"
        block="true"
        class="mt-5 mb-4 waves-effect z-depth-0"
        mdbWavesEffect
        type="submit"
        [disabled]="form.invalid"
      >メールを送る</button>

      <div class="d-flex justify-content-around">
        <div>
          <a routerLink="/signup">会員登録</a></div>
        <div>
          <!-- Forgot password -->
          <a routerLink="/login">ログイン</a>
        </div>
      </div>

      <!-- Register -->

      <!--        &lt;!&ndash; Social login &ndash;&gt;-->
      <!--        <p>or sign in with:</p>-->
      <!--        <a type="button" mdbBtn floating="true" color="fb" size="sm">-->
      <!--          <mdb-icon fab icon="facebook"></mdb-icon>-->
      <!--        </a>-->
      <!--        <a type="button" mdbBtn floating="true" color="tw" size="sm">-->
      <!--          <mdb-icon fab icon="twitter"></mdb-icon>-->
      <!--        </a>-->
      <!--        <a type="button" mdbBtn floating="true" color="li" size="sm">-->
      <!--          <mdb-icon fab icon="linkedin"></mdb-icon>-->
      <!--        </a>-->
      <!--        <a type="button" mdbBtn floating="true" color="black" size="sm">-->
      <!--          <mdb-icon fab icon="google"></mdb-icon>-->
      <!--        </a>-->

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
